.crypto {
    display: flex;
    margin: auto;
}

.crypto p {
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
}

.symbol {
    background-color: gold;
    padding: 10px;
    border-radius: 10px;
}

.item {
    display: flex;
    justify-content: center !important;
}