.background-photo {
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #000000 66%, #000000 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #000000 66%, #000000 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #000000 66%, #000000 100%);    
    padding-top: 220px;
}

.main-div{
    padding: 0 10%;
}

.image{
    width: 160px;
    height: 160px;
    position: absolute;
    top: 21%;
    left: 12%;
    border: 1px solid #646464;
    background-color: white;
    padding: 2px;
}

.profile-content{
    background-color: purple;
    height: 23vh;

}

.name-div{
    margin-left: 215px;
    padding-top: 30px;
    height: inherit;
}

.first-span{
    font-size: 30px;
    font-weight: bold;
}

.second-span{
    font-size: 20px;
    /* font-weight: lighter; */
}

.btns-div{
    margin-top: -40px;
}

.btns-div button{
    width: 141.03px;
    border: none;
    height: 40px;
}

.icons-div{
    position: absolute;
    left: 60%;
    top:33%;
}

.icons{
    width: 150px;
    font-size: 30px;
}