.background-photo {
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #000000 66%, #000000 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #000000 66%, #000000 100%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #000000 66%, #000000 100%);    
    padding-top: 220px;
}

.background-photo img {
    margin-top: -70px;
    margin-left: 40px;
    border-style: solid;
    border-color: white;
    border-width: 2px
}
.background-photo button{
    float: right;
    margin-right: 35px;
    margin-top: -20px;
}
.username {
    padding-top: 70px;
    text-align: center
}

.user {
    width: 220px;
}
.modal-header{
    display: block;
}

.PositionMarker-icon {
    font-size: 20px;
    /* margin-left: 150px */
}

.pos {
    display: flex;
    padding-top: 30px;
    margin-left: 40px;
}

.pos p {
    font-size:15px
}

.bio {
    margin-left: 40px;
}

